<!-- app/views/object/show.html.erb -->
<% content_for :content do %>
  <%= render "#{@item.class.name.underscore}" %>
  
<div class="json-link-wrapper">
  <%= link_to "#{request.path}.json", class: "json-link", style: "color: #f5f5f5;" do %>
    &lt;/&gt; JSON view
  <% end %>
</div>
<% end %>