# Database configuration
# Note: This API is stateless and doesn't use a database for business logic.
# The Heroku Postgres addon is provisioned but not actively used.

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: sqlite3
  database: storage/development.sqlite3

test:
  <<: *default
  adapter: sqlite3
  database: storage/test.sqlite3

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>