<div class="product-header">
  <div class="container">
  <a class="title" href="/">
  Data Library
</a>
    <%#<h2>Subtitle</h2>%>
    <div class="reading-width">
      <p>
        A browser for Parliament's linked data platform.
      </p>
      <%#<p><a href="#">Find out more about this item</a></p>%>
    </div>
  </div>
</div>