<div class="context-nav context-nav-brand" role="navigation" aria-label="Breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <% breadcrumbs.each do |crumb| %>
        <li>
          <% if crumb[:url] %>
            <%= link_to crumb[:label], crumb[:url] %>
          <% else %>
            <%= crumb[:label] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

    
	    
	        