<a href="#main-content" class="skip-to-content">Skip to main content</a>
<header class="doc-header">
	<%= render :partial => 'layouts/header/portcullis' %>
	<%= render :partial => 'layouts/header/banner' %>

    <%#= render :partial => 'layouts/header/nav' %>	
</header>
<%= render :partial => 'layouts/header/crumb' %>