<a href="https://data-odp.parliament.uk/sparql#query=<%=u query %>&contentTypeConstruct=application%2Frdf%2Bjson&contentTypeSelect=application%2Fsparql-results%2Bjson&endpoint=https%3A%2F%2Fdata-odp.parliament.uk%2Fsparql&requestMethod=POST&tabTitle=Query%20from%20Explorer&headers=%7B%7D&outputFormat=rawResponse" target="_blank">View in SPARQL application</a>
<%= content_tag( 'textarea', query ) %>
