
 <footer>

  <div class="container">

    <div class="row">
      <div class="col-md-3 col-no-spacing primary">
        &copy; UK Parliament [Year]
      </div>
      <div class="col-md-9 secondary">
        <a href="#">Cookie policy</a>
        <a data-cookie-manager-open="" href="#">Cookie settings</a>
        <a href="#">Privacy notice</a>
        <a href="#">Accessibility statement</a>
        <a href="#">Copyright policy</a>
      </div>
    </div>
  </div>
</footer>
